<div class="container">
    <div class="row">
        <div>
            <h1 class="text" style = "vertical-align: middle; font-weight:500; font-size: 30px; float: left; padding-left: 15px;">Admin Dashboard</h1> 
            <span style="vertical-align: middle; float: right;"> <a class = "btn login" href='#'>Settings</a> </span> <br>
        </div> 
        <div style="margin-top: 100px;"></div>
        <div>
        <p class = "text" style = "color: grey; font-size: 16px;">Welcome to your Dashboard.<p>
        <hr style = "width: 70%; height: 2px; border: 0; background-color: rgb(214, 214, 214);">  
            <br>     
        <a class = "btn login" href='#'>View All Users</a> <br>
        <a class = "btn login" href='#'>Clients</a> <br> 
        <a class = "btn login" href='#'>Application</a> <br> 
        <a class = "btn login" href='#'>Rejected List</a> <br><br>
            <br><br>
        <a routerLink='/admin' class='btn' type='button'>Back</a>
        </div>
    </div>
</div>

