<div class="container">
    <div class="row">
        <br>
        <h1 class = "text" style = "font-size: 25px;">Welcome to New Wheels!</h1>
        <hr style = "width:70%">
        <p class = "text" style = "color: grey; font-size: 12px;">Enter your details to log-in.<p> <br>

        <input type = "text" name = "username" placeholder = "Username" required> <br>
        <input type = "password" name = "password" placeholder = "Password" required> <br> 
        <a routerLink='/loginsuccess' class = "btn login">Login</a><br><br>
        <a routerLink='/login' class='btn' type='button'>Back</a>
    </div>
</div>