<div class = "container">
    <div class="row">
        <br><br>
        <h1 class = "text" style = "font-size: 25px;">Registered User List</h1>
        <hr style = "width:70%">
        <p class = "text" style = "color: grey; font-size: 15px;">List of the users registered with us.<p> <br>
    </div>
    <table id = "table">
        <tr>
          <th> INDEX </th>
          <th> USER ID</th>
          <th> FIRST NAME </th>
          <th> LAST NAME </th>
          <th> AGE </th>
          <th> GENDER </th>
          <th> ADDRESS </th>
          <th> EMAIL </th>
          <th> ZIP </th>
          <th> TYPE </th>
        </tr>
      <tr *ngFor = "let user of AllUserList; let index = index;"> 
        <td> {{index + 1}} </td>
        <td> {{user.userId}} </td> 
        <td> {{user.userNameFirst}} </td> 
        <td> {{user.userNameLast}} </td>
        <td> {{user.userAge}} </td>
        <td> {{user.userGender}} </td>
        <td> {{user.userAddress}} </td>
        <td> {{user.userEmail}} </td>
        <td> {{user.userZip}} </td>
        <td> {{user.userType}} </td>
      </tr>
      </table>
</div>






