.navpanel{
        overflow: auto;
        background-color: #415e4c;
        width: 100%;
        margin-left: auto;
}

.navpanel a{
    float: right;
    color: white;
    display: block;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 24px 26px;
    text-decoration: none;
}

.navpanel a:hover {
    background-color: #304538;
    
  }

