<div class="container">
    <div class="row">
        <div>
        <h1 class = "text" style = "font-size: 30px; text-align: center; font-weight: 600;">Apply for Loan</h1>
        <hr style = "width:50%">
        <p class = "text" style = "color: grey; font-size: 12px; text-align: center;">New Vehicles Loans (Product Type)</p>
        <br>
        <form (ngSubmit)="registerloan()" ngNativeValidate>
                <input type="number" name="loanAmount" placeholder="Loan Amount" [(ngModel)]="loanAmount" required/><br>
                <select type="number" name="tenure"  class="tenure" [(ngModel)]="tenure" required><br>
                    <option selected disabled hidden style='display: none' value='undefined'>Needed Repayment Time: </option>
                    <option value=6>6</option>
                    <option value=12>12</option>
                    <option value=24>24</option>
                    <option value=36>36</option>
                    <option value=48>48</option>
                    <option value=60>60</option>
                    <option value=72>72</option>
                    <option value=84>84</option>
                </select><br>
                <select type="number" name="loantype"  class="loantype" [(ngModel)]="loantype" required><br>
                    <option selected disabled hidden style='display: none' value='undefined'>Select your Vehicle Type: </option>
                    <option value="2">Two-Wheeler</option>
                    <option value="3">Three-Wheeler</option>
                    <option value="4">Four-Wheeler</option>
                </select><br>
                <!-- <input type="text" name="processingFee" placeholder="Processing Fee" [(ngModel)]="processingFee" required/><br><br><br> -->
                <button type="submit" class='btn login'>Submit Loan</button><br><br>
            </form>
        </div>
    </div>

    <div style="margin-top: 30px;"> </div>

    <!-- <div>
        <a href="#" class="login2 btn">Apply Now</a> <br> 
        <a href="#" class="login2 btn">EMI Scheduler</a>
    </div> -->

</div>
