<div class="all">
    <h3 class="mainhead">Your Loan Quotes</h3>
    <h5 class="subhead">New Car Loans(Product type)</h5><br><br>
    <div style="padding: 10px; background-color:rgb(173, 162, 162) ; display: inline-block; margin-left: 20em; margin-right: 10em; width: 200px; text-align: center;">
        Loan Amount
    </div>
    <div style="padding: 10px; background-color:rgb(173, 162, 162) ; display: inline-block; margin-right: 2em; width: 200px; text-align: center;">
        Best Rate
    </div>
    <br><br><br>
    <div style="padding: 10px; background-color:rgb(173, 162, 162) ; display: inline-block; margin-left: 20em; width: 200px; text-align: center;">
        EMI
    </div>
    <div style="padding: 10px; background-color:rgb(173, 162, 162) ; display: inline-block;margin-left: 10em; width: 200px; text-align: center;">
        Interset Rate
    </div>
    <br><br><br>
    <div style="padding: 10px; background-color:rgb(173, 162, 162) ; display: inline-block;margin-left: 20em; width: 200px; text-align: center;">
        Processing fee
    </div>
    <div style="padding: 10px; background-color:rgb(173, 162, 162) ; display: inline-block; margin-left: 10em; margin-right: 5em; width: 200px; text-align: center;">
        A/c Type
    </div>
    <br><br><br>
    <button class='applynow'>APPLY NOW</button>
    <button class='emischeduler'>EMI SCHEDULER</button>
</div>