div{
    border:1px solid blue;
    padding:10px;
    width:100px;
    margin: 10px auto;
}

.applynow{
    margin: 40px auto;
    position: sticky;
    left: 650px;
}

.emischeduler{
    margin-left: 20px;
    position: sticky;
    left: 750px;
}