<div class="container">
    <div class="row">
        <div>
            <h1 class="text" style = "vertical-align: middle; font-weight:500; font-size: 30px; float: left; padding-left: 15px;">User Dashboard</h1> 
            <span style="vertical-align: middle; float: right;"> <a class = "btn login" (click)="redirect()">Logout</a> </span> <br>
        </div> 
        <div style="margin-top: 100px;"></div>
        <div>
        <p class = "text" style = "color: grey; font-size: 16px;">Dear {{userName}}! Welcome to your Dashboard, your UserID is {{userId}}<p>
        <hr style = "width: 70%; height: 2px; border: 0; background-color: rgb(214, 214, 214);">  
            <br>     
        <a class = "btn login" routerLink='/dashboard'>User Details</a> <br>
        <a class = "btn login" routerLink='/checkeligiblityuser'>Apply Loan</a> <br>
        <a class = "btn login" (click)="viewLoanStatus()">Check Loan Status</a> <br><br><br>
            <br><br>
        <a routerLink='/user' class='btn' type='button'>Back</a>
        </div>
    </div>
</div>
