<div class = "container">
    <div style="margin-top: 40px; color: #365040;"> 
        <h1>ABOUT US</h1>
    </div>
    <div class = "row" style="margin-top: 20px;">
        Buying a car is one of life’s biggest dreams. 
        But it is also a huge investment that can take away a lot of life’s savings. 
        But there is a way in which you can afford a car, without dipping too much into your savings – by taking a car loan. 
        This way you do not have to compromise on the car type, and pay for it in affordable Equated Monthly Instalments or EMIs. 
    </div>
    <hr style = "width:70%">
    <div class="row">
        Every lending institution follows the KYC (Know Your Customer) norms for granting loans. There is a certain set of documentation that needs to be completed and verified along with your credit record to fulfil the approval of a car loan. Prior to shopping for a car, it can help to get a pre-approved car loan car financing officer from the lender of choice. This guarantees faster processing of the car loan but most importantly, a pre-approved car loan also works as an additional leverage while negotiating with the car dealer. 
        You will be in a better position to bargain for more add-ons or fewer fees while closing the deal.
    </div>
</div>
