<div class="container">
    <div class="row">
        <h1 class = "text" style = "font-size: 25px;">Admin Login</h1>
        <hr style = "width:70%">
        <p class = "text" style = "color: grey; font-size: 12px;">Login with valid username and password to access.<p> <br>
            <form (ngSubmit)="loginadmin()" ngNativeValidate>
                <input type = "email" name = "adminemail" placeholder = "Admin Email" [(ngModel)]="email" required><br>
                <input type = "password" name = "adminpassword" placeholder = "Admin Password" [(ngModel)]="password" required> <br> 
                <button type="submit" class='btn login'>Login</button><br><br><br><br>
                <a routerLink='/login' class='btn' type='button'>Back</a>
            </form>
    </div>
</div>