<div class="container">
    <div class="row">
        <br><br>
        <h1 class = "text" style = "font-size: 25px;">Welcome to New Wheels!</h1>
        <hr style = "width:70%">
        <p class = "text" style = "color: grey; font-size: 12px;">Enter your Account Details.</p> <br>
            <form (ngSubmit)="registeraccount()" ngNativeValidate>           
                <input type="text" name="accNumber" placeholder="Account Number" [(ngModel)]="accNumber" required/><br>
                <input type="text" name="accBankName" placeholder="Bank Name" [(ngModel)]="accBankName" required/><br>
                <input type="text" name="accIfsc" placeholder="IFSC Number" [(ngModel)]="accIfsc" required/><br>
                <select type="text" name="Account Type"  class="actype" [(ngModel)]="accType " required>
                    <option selected disabled hidden style='display: none' value='undefined'>Please select Account Type </option>
                    <option value="Salaried">Salaried</option>
                    <option value="Savings">Savings</option>
                    <option value="Current">Current</option>
                </select><br>
                <input type="number" name="salary" placeholder="Salary" [(ngModel)]="salary" required/><br>
                <input type="number" name="exisitingEmi" placeholder="Existing EMI(in Rupees)" [(ngModel)]="exisitingEmi" required/><br>
                <input type="text" name="userEmployment" placeholder="User Employment" [(ngModel)]="userEmployment" required/><br>
                <input type="number" name="monthlySavings" placeholder="Monthly Savings" [(ngModel)]="monthlySavings" required/><br>

                <button class="btn register">Submit Account Details</button><br><br>
        </form>
    </div>
</div>