@import url('https://fonts.googleapis.com/css2?family=Open+Sanswght@600&display=swap');

.container {
    position: relative;
    background-color: #f2f2f2;
    padding: 20px 0 30px 0;
    width: 50%;
    margin: auto;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 60px;
  } 
  .row {
    flex: 100%;
    padding: 0 60px;
    margin-top: 6px;
    text-align: left;
  }
  .text {
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    color: #365040;
  }
  input,
  .btn {
    width: 100%;
    padding: 10px;
    border: none;
    margin: 5px 0;
    border-radius: 5px;
    opacity: 0.85;
    display: inline-block;
    font-size: 15px;
    text-align: left;
    line-height: 20px;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
    text-decoration: none; /* remove underline from anchors */
  }

  select{
    width: 46%;
    padding: 10px;
    border: none;
    float: right;
    margin: 5px 0;
    border-radius: 5px;
    opacity: 0.85;
    display: inline-block;
    font-size: 15px;
    text-align: left;
    line-height: 20px;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
    text-decoration: none; /* remove underline from anchors */
  }

  .login {
    width: 50%;
    padding: 20px;
    border: none;
    margin: auto;
    border-radius: 5px;
    opacity: 0.85;
    display: inline-block;
    font-size: 20px;
    color: white;
    background-color: #4A6B57;
    text-align: center;
    line-height: 20px;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
    text-decoration: none; 
    letter-spacing: 1px;
    cursor: pointer;
  }
  .login:hover {
    background-color: #304538;
  }